[submodule "tensor4"]
	path = tensor4
	url = https://github.com/podgorskiy/tensor4.git
[submodule "stylegan"]
	path = stylegan
	url = https://github.com/NVlabs/stylegan.git
[submodule "zfp"]
	path = zfp
	url = https://github.com/LLNL/zfp.git
